.home_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 84px;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
    margin-left: -6.5em;
    width: 370px;
    line-height: 1.5em;
    letter-spacing: 1.3px;
    margin-right: 4em;
    padding-left: 2em;
}

.label_input {
    width: 290px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 17em;
    margin-left: -33.8em;
}

.home_container h1 span {
    color: #ffbb33;
    padding: 0 .2em;
    background-color: #222;
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    width: 78%;
    margin: -8em -17em 0 0 ; 
}

.button_search {
    padding: 10px;
    color: #fff;
    background-color: #BADC58;
    border-radius: 5px;
    border-color: transparent;
    margin: 5px;
}