.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 1em;
    position: absolute;
}

.h1_logo {
    color: #BADC58;
    font-size: 32px;
    margin-left: 3em;
    
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1.6em;
    font-size: 16px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

