.register-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #badc58;
}

.Input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  background-color: #badc58;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.inputTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 5px;
  color: #1d164d;
  text-shadow: 
               -0.7px -0.7px 0px #FFF, 
               -0.7px 0.7px 0px #FFF,                    
                0.7px -0.7px 0px #FFF,                  
                0.7px 0px 0px #FFF;
}

.inputform {
  display: block;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  background: rgb(236, 236, 236);
  transition: 0.2s;
}

.btn-enviar {
  display: block;
  width: 138px;
  height: 48px;
  font-weight: bold;
  font-size: 1rem;
  color: #1d164d;
  background: rgb(236, 236, 236);
  border: 1px solid #1d164d;
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .Input-container {
    width: 40%;
  }
  @media (max-width: 768px) {
    .Input-container {
      width: 50%;
    }

    .inputform {
      width: 300px;
    }
  }
  @media (max-width: 425px) {
    .Input-container {
      width: 100%;
    }
  }
}
