.titulo {
  width: 412px;
  height: 284px;
}

.tituloh1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #1d164d;
}

.tituloh2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #1d164d;
  margin-bottom: 15px;
}

.tituloh3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #1d164d;
}

.subtitulo {
  font-family: 'muli', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #9e9baf;
}
.copy {
  font-family: 'muli', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #1d164d;
}

@media (max-width: 620px) {
  .copy:first-child {
    order: 3;
  }
}

@media (max-width: 425px) {
  .subtitulo {
    padding: 20px;
  }
}
